{% extends 'thesite/index.html' %}
{% block content %}
<div class="spacer"></div>

<h3 class="centered">Choose 2 to compare and save changes</h3>

<form action="" method="POST">
{% csrf_token %}
  <div>
      <h3 class="centered">Conglomerates</h3>
        <div class="col-4">
        </div>
        <div class="col-8">
          <ul>
              {% for c in conglomerates %}
              <li><input type="checkbox" name="checkbox" value="{{ c.pk }}"
                {% if c.name in info %}checked{% endif %}>{{ c.name }} Last updated {{ c.last_updated }}</li>
              {% endfor %}
        </div>
  </div>
  <div>
      <h3 class="centered" id="submit">Products</h3>
        <div class="col-4">
        </div>
        <div class="col-8">
          <ul>
              {% for p in products %}
              <li><input type="checkbox" name="checkbox" value="{{ p.pk }}"
                {% if p.name in info %}checked{% endif %}>{{ p.name }} Last updated {{ p.last_updated }}</li>
              {% endfor %}
          </ul>
        </div>
  </div>
  <div class="centered">
    <button type="submit" name="submit">Submit</button>
  </div>
</form>

<div class="make-space">
</div>

{% if message_1 == "" %}
<h4 class="centered">{{ message_0 }}</h4>
{% endif %}

<div class="col-4" id="section1">
  <ul>
    <li>{{ message_0.name }}</li>
    <li>{{ message_0.text }}</li>
    <li>{{ message_0.num_stars }}</li>
    <li>{{ message_0.last_updated }}</li>
    <li>{{ message_0.approved_edit }}</li>
  </ul>
</div>
<div class="col-4">
  <ul>
    <li>{{ message_1.name }}</li>
    <li>{{ message_1.text }}</li>
    <li>{{ message_1.num_stars }}</li>
    <li>{{ message_1.last_updated }}</li>
    <li>{{ message_1.approved_edit }}</li>
  </ul>
</div>
<div class="col-4">

</div>











{% endblock %}
