{% extends 'thesite/index.html' %}
{% block content %}
<div class="spacer"></div>


    {% for c in conglom %}
    <div class="row">
                <div class="col-3 centered">
                  <a href="{% url 'view_conglomerate' pk=c.pk %}">{{ c.name }}</a>
                </div>
                <div class="col-9">
                  {{ c.text }}
                </div>
    </div>
    {% endfor %}


    {% for p in products %}
    {% if p.approved_edit %}
    <div class="row">
                <div class="col-3 centered">
                  <a href="{% url 'view_product' pk=p.pk %}">{{ p.name }}</a>
                </div>
                <div class="col-9">
                  {{ p.text }}
                </div>
    </div>
    {% endif %}
    {% endfor %}





{% endblock %}
