{% extends 'thesite/index.html' %}
{% block content %}
<div class="spacer"></div>

<h3 class="centered">{{ conglomerate }} - submit edit</h3>

<div>
    <div class="col-1"></div>
    <div class="col-10">
        <ul class="head-list">
          {% for p in products %}
          <a href="{% url 'modify_product' pk=p.pk %}"><li> {{ p }} </li></a>
          {% endfor %}
        </ul>
    </div>
    <div class="col-1"></div>
</div>


<div>
  <form method="post" action="">
      {% csrf_token %}
      {% for field in form %}
      <div class="col-4 centered">
        <label>{{ field.label }}</label>
      </div>
      <div class="col-8 mobile-centered">
        <label>{{ field }}</label>
      </div>
      {% endfor %}
      <div class="col-12 centered">
          <button type="submit" class="save btn btn-default">Save</button>
      </div>
  </form>
</div>


{% endblock %}
