{% extends 'thesite/index.html' %}
{% block content %}

<div class="spacer"></div>

<div class="row">
            <div class="col-4">
                  <h3 class="centered">Our goal</h3>
                      <p>
                        Our goal is a conversation between consumers and producers that is accessible through an easy to use
                          app.  We want to be a source of information leading to the evolution of our food chain
                          how we want.
                      </p>
              </div>
              <div class="col-4">
                  <h3 class="centered">Our Beliefs</h3>
                      <p>
                        We believe in sustainable production and farming that is independently verified.  This extends beyond
                          marketing gimmicks and meaningless certifications.  People should feel confident that their purchases
                          using green technology, that the workers are treated fairly and that they are supporting something that
                          they believe in.  This knowledge should be easily
                          available to help us make informed decisions with our spending power.
                          <br><br>
                          We can do better.
                      </p>
              </div>
              <div class="col-4">
                  <h3 class="centered">How can you help?</h3>
                      <p>
                        Do you work on a farm, in a super market or for a producer.  Are you a farm, producers or retailer?
                          We want to hear from you.  You can become a member and submit anything from a comment, photo or full
                          report.  We constantly receiving new information and updating our database to reflect the latest information.
                      </p>
                      <br><br>
                      <p class="centered">
                        <a href="{% url 'submit' %}">Submit your part of the story.</a>
                      </p>
              </div>
</div>

<div class="row centered">
    <p>
      Check out our <a href="{% url 'database' %}">Database</a>.
    </p>

</div>



{% endblock %}
