{% extends 'thesite/index.html' %}
{% block content %}
<div class="spacer"></div>

<h3 class="centered">{{ product }}</h3>




<div>
      <div class="col-4 centered">
        <label>{{ product.name }}</label>
      </div>
      <div class="col-8 mobile-centered">
        <label>{{ product.text }}</label>
      </div>
      <div class="col-12 centered">
          <a href="{% url 'modify_product' pk=product.pk %}">{{ product.name }} - Submit edit</a>
      </div>
</div>
<div class="top-spacer">
    <h3 class="centered">Verified by</h3>
      {% for v in verifications %}
      <div class="col-4 centered">
        <label>{{ v.individual }} on {{ v.date }}</label>
      </div>
      <div class="col-8 mobile-centered">
        <label>{{ v.who }}</label>
      </div>
      {% endfor %}
<div>

</div>




{% endblock %}
