{% extends 'thesite/index.html' %}
{% block content %}
<div class="spacer"></div>

<h3 class="centered">{{ conglomerate }}</h3>

<div>
    <div class="col-1"></div>
    <div class="col-10">
        <ul class="head-list">
          {% for p in products %}
          <a href="{% url 'view_product' pk=p.pk %}"><li> {{ p }} </li></a>
          {% endfor %}
        </ul>
    </div>
    <div class="col-1"></div>
</div>


<div>
      <div class="col-4 centered">
        <label>{{ conglomerate.name }}</label>
      </div>
      <div class="col-8 centered">
        <label>{{ conglomerate.text }}</label>
      </div>
      <div class="col-12 centered">
          <a href="{% url 'modify_conglomerate' pk=conglomerate.pk %}">{{ conglomerate.name }} - Submit edit</a>
      </div>
</div>



{% endblock %}
