html {
    font-family: "Lucida Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a:link {
    color: #1b3ce2;
    text-decoration: none;
}
a:visited {
    color: #1b3ce2;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: #1b3ce2;
    text-decoration: none;
}

textarea {
  width: 90%;
}


/** Custom CSS for classes **/
.bordered {
  border: solid pink;
}

.scroll-box-medium {
  overflow: auto;
  height: 300px;
}

.approval li {
  color: #15d321;
}

.approved {
  padding: 10px 10px 10px 10px;
  border: solid #15d321;
  border-width: thin;
}

.not-approved {
  padding: 10px 10px 10px 10px;
  border: solid #ce2342;
  border-width: thin;
}

.head-list {
  border-bottom: solid grey;
}

.head-list li {
  display: inline;
  margin: 0 40px 0 0;
}

/**  What is this??**/
.top-spacer {
  margin-top: 26%;
}


/** Custom CSS for ids **/
#search-form {
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


* {
    box-sizing: border-box;
}

/** Custom CSS for mobile vs desktop **/

/*
For mobile phones:
http://www.w3schools.com/css/css_rwd_mediaqueries.asp
This should lay out in a stack on a phone
*/
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 500px) {
    /* For Mobile: */
    .nav-bar.top {
      background-color: ;
      position: fixed;
    }

    .nav-bar.bottom {
      background-color: ;
      position: relative;
      top: 50px;
      width: 102%;
      z-index: 0;  /* Want this to be -1 but then we can't click the link*/
    }

    .nav-bar.foot {
      position: fixed;
      bottom: 91.5%;
      right: -40%;
    }

    .mobile-centered {
      text-align: center;
    }

    .desktop {
      display: none;
    }
    .spacer {
      height: 75px;
    }
}

@media only screen and (min-width: 500px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .mobile {
      display: none;
    }

    .nav-bar.desktop {
      position: fixed;
      top: -90px;
    }

    #nav-image {
      height: 150px;
      z-index: -1;
      position: relative;
      top: 70px;
    }

    #home-button {
      color: white;
      letter-spacing: 2px;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }

    #home-button:hover {
        color: hotpink;
        text-decoration: none;
    }

    #user-image {
      height: 150px;
      z-index: -1;
      position: relative;
      top: -90px;
      right: -30px;
    }

    .nav-bar li {
      display: inline-block;
      top: 300px;
    }
    .top {
      display: none;
    }
    .bottom {
      display: none;
    }
    .spacer {
      height: 150px;
    }
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


.centered {
  text-align: center;
}


table.centered {
    margin-left:auto;
    margin-right:auto;
  }


  /* Style The Dropdown Button */
  .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown.desktop {
      position: fixed;
      display: inline-block;
      right: 7%;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: relative;
      right: 0;
      top: -90px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content.mobile {
      display: none;
      position: absolute;
      right: 46%;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }


  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }
